/* TotalProductiveTime.css */

.ttot-form {
    margin-top: 50px;
    position: fixed;
}

.ttot-form > label {
    color: #243;
    font-size: 1.5rem;
    padding: 10px;
}

.task-time {
    color: green;
    font-size: 1.5rem;
}
