/* TotalProductiveTime.css */

.twt-form {
    margin-top: 50px;
    position: fixed;
}

.twt-form > label {
    color: #243;
    font-size: 1.5rem;
    padding: 10px;
}

.waste-report {
    color: #566;
    font-size: 1.3rem;
}

.wasted-time {
    color: red;
    font-size: 1.4rem;
}
