<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Things I can do:</h1>
    <p> I can help yoy keep track of time on task and time wasted on a daily basis.
        I also keep track of total productive time and total wasted time. And last
        but not least, I can give you daily, weekly and monthly reports
    </p>

    <button><a href="get_started.html">Get Started</a></button>
</body>
</html>
