<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Report</title>
</head>
<body>
    <label for="week">What week would you like to get a report for?<br>
        <ol>
            <li>This Week</li>
            <li>Last Week</li>
            <li>Custom</li>
        </ol>
    </label>
    <input type="text" name="week">

    <br><br>

    <p>Start Date: March 4, 2024</p>
    <p>End Date: March 10, 2024</p>

    <p> This week you spent 3.0 hours working <br>
        And you wasted a total of 2.0 <br>
        You can't be perfect, but you can be better! <br>
        See you next week! <br>
    </p>

</body>
</html>